{% extends ./base.html %}

{% block title %}修改用户信息{% end %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-10 col-sm-4 text-center">
            <form action="/change" method="post" enctype="multipart/form-data">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="please username"
                           aria-label="Username" aria-describedby="basic-addon1" aria-placeholder="please username、
" required="">
                </div>

                <div>
                    <input type="radio" name="sex" value="男" required=""><label for="" ><strong>男</strong></label>
                    &emsp;
                    &emsp;
                    &emsp;
                    <input type="radio" name="sex" value="女" required=""><label for=""><strong>女</strong></label>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="please password"
                           aria-label="Username"
                           aria-describedby="basic-addon1" aria-placeholder="please password" required="">
                </div>

                <button class="btn btn-success btn-lg">保存修改</button>
            </form>
        </div>
    </div>
{% end %}