{% extends ./base.html %}

{% block title %}Explor Page{% end %}

{% block link %}
    <link rel="stylesheet" href="{{ static_url('css/paginate.css') }}">
{% end %}

{% block body %}


<div>
    <div class="row">
        {% for p in page.items %}

        <div class="card" style="width: 18rem;">
            <a href="/post/{{ p.id }}"><img class="card-img-top" src="{{ static_url(p.thumb_url) }}"
                                            alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        {% end %}
    </div>
</div>

{# 分页 #}
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="?page=1" tabindex="-1">首页</a>
        </li>

        <li class="page-item {% if not page.has_previous %}disabled{% end %}">
            <a class="page-link" href="?page={{ page.previous_page }}" tabindex="-1">上一页</a>
        </li>

        {% for n in range(1, page.pages + 1) %}
        <li class="page-item{% if number == str(n) %} active{% end %}">
            <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
        </li>
        {% end %}

        <li class="page-item {% if not page.has_next %}disabled{% end %}">
            <a class="page-link" href="?page={{ page.next_page }}">下一页</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page.pages }}" tabindex="-1">共{{ page.pages }}页</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page.pages }}" tabindex="-1">尾页</a>
        </li>

    </ul>
</nav>


{% end %}