{% extends ./base.html %}

{% block title %}Post Page{% end %}

{% block body %}


<div class="card">
    <div class="card-body">
        <strong> please click </strong><i class="fa fa-heart text-danger" aria-hidden="true" id="heart"></i> <strong>add Like</strong>

        <button type="button" class="btn btn-primary">
            当前图片有 <span class="badge badge-light aaa" id="num">
            {{ like_prople }}
        </span>喜欢
        </button>
        <div style="display: inline; float: right"><strong>上传用户</strong><a href="/profile?name={{ post.users.username }}">{{ post.users.username }}</a><strong>, 点击进入详情页</strong></div>
    </div>
</div>

<div>
    <img src="{{ static_url(post.img_url) }}" alt="" width="1110">
</div>
<ul class="list-group">
  <li class="list-group-item"><a href="/delete?pid={{ post.id }}&pnm={{ post.user_id }}"><span class="badge badge-pill badge-danger">删除图片</span></a></li>
  <li class="list-group-item"><span class="badge badge-pill badge-info">上传者：{{ post.users.username }}</span></li>
  <li class="list-group-item"><span class="badge badge-pill badge-dark">性别：{{ post.users.sex }}</span></li>
  <li class="list-group-item"><span class="badge badge-pill badge-success">上传时间：{{ post.users.create_time }}</span></li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

<span id="pid" style="display: none">{{ post.id }}</span>

{% end %}
{% block script %}
<script src="{{ static_url('js/heart.js') }}"></script>
{% end %}