{% extends ./base.html %}

{% block title %}Sign Up{% end %}

{% block body %}
    <div>{% if msg %}{{ msg }}{% end %}</div>
<div class="row">
    <form action="/signup" method="post" enctype="multipart/form-data">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" name="username" class="form-control" placeholder="please username" aria-label="Username" aria-describedby="basic-addon1" aria-placeholder="please username、
">
        </div>

        <div>
            <input type="radio" name="sex" value="男"><label for=""><strong>男</strong></label>
            <input type="radio" name="sex" value="女"><label for=""><strong>女</strong></label>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="password" name="password1" class="form-control" placeholder="please password" aria-label="Username"
                   aria-describedby="basic-addon1" aria-placeholder="please password">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="password" name="password2" class="form-control" placeholder="please password again" aria-label="Username"
                   aria-describedby="basic-addon1" aria-placeholder="please password again">
        </div>

        <button class="btn btn-success btn-lg">Sign Up</button>
    </form>
</div>
{% end %}