{% extends ./base.html %}

{% block title %}Sign Up{% end %}

{% block body %}
    <form action="/signup" method="post" enctype="multipart/form-data">
        <div>
            <label for="">用户名：</label><br>
            <input type="text" name="username" placeholder="请输入用户名" required="">
        </div>
        <div>
            <input type="radio" name="sex" value="男"><label for="">男</label>
            <input type="radio" name="sex" value="女"><label for="">女</label>
        </div>
        <div>
            <label for="">密码：</label><br>
            <input type="password" name="password1" placeholder="请输入密码">
        </div>
        <div>
            <label for="">再次输入密码：</label><br>
            <input type="password" name="password2" placeholder="请再次输入密码">
        </div>
        <input type="submit">
    </form>
{% end %}